/* ==========================================================================
Colors
========================================================================== */

$white: #fff;
$rose: #f9eff6;
$lilac: #984e91;
$rose-transparent: rgba(245, 220, 245, 0.9);
$ocean-wave: #6da1b2;