/* ==========================================================================
Contact us
========================================================================== */
.contactUs {
  padding: 120px 0;
  background-color: $lilac;
}
.contactUs-title {
  margin: 0 0 15px 0;
  color: $rose;
  font-weight: 400;
  font-size: 40px;
}
