/*
 * Web Fonts from freefonts.co.il
 */

@font-face {
  font-family: 'dorian_clmbook';
  src: url('../../fonts/dorian/dorianclm-book-webfont.eot');
  src: url('../../fonts/dorian/dorianclm-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/dorian/dorianclm-book-webfont.woff') format('woff'),
  url('../../fonts/dorian/dorianclm-book-webfont.ttf') format('truetype'),
  url('../../fonts/dorian/dorianclm-book-webfont.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dorian_clmbook';
  src: url('../../fonts/dorian/dorianclm-bookitalic-webfont.eot');
  src: url('../../fonts/dorian/dorianclm-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/dorian/dorianclm-bookitalic-webfont.woff') format('woff'),
  url('../../fonts/dorian/dorianclm-bookitalic-webfont.ttf') format('truetype'),
  url('../../fonts/dorian/dorianclm-bookitalic-webfont.svg#FontName') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'pfennig';
  src: url('../../fonts/pfennig/pfennig-webfont.eot');
  src: url('../../fonts/pfennig/pfennig-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/pfennig/pfennig-webfont.woff') format('woff'),
  url('../../fonts/pfennig/pfennig-webfont.ttf') format('truetype'),
  url('../../fonts/pfennig/pfennig-webfont.svg#FontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfennig';
  src: url('../../fonts/pfennig/pfennigbold-webfont.eot');
  src: url('../../fonts/pfennig/pfennigbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/pfennig/pfennigbold-webfont.woff') format('woff'),
  url('../../fonts/pfennig/pfennigbold-webfont.ttf') format('truetype'),
  url('../../fonts/pfennig/pfennigbold-webfont.svg#FontName') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pfennig';
  src: url('../../fonts/pfennig/pfennigbolditalic-webfont.eot');
  src: url('../../fonts/pfennig/pfennigbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/pfennig/pfennigbolditalic-webfont.woff') format('woff'),
  url('../../fonts/pfennig/pfennigbolditalic-webfont.ttf') format('truetype'),
  url('../../fonts/pfennig/pfennigbolditalic-webfont.svg#FontName') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'pfennig';
  src: url('../../fonts/pfennig/pfennigitalic-webfont.eot');
  src: url('../../fonts/pfennig/pfennigitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/pfennig/pfennigitalic-webfont.woff') format('woff'),
  url('../../fonts/pfennig/pfennigitalic-webfont.ttf') format('truetype'),
  url('../../fonts/pfennig/pfennigitalic-webfont.svg#FontName') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'frank_ruehl_clm';
  src: url('../../fonts/frankruehl/frankruehlclm-bold-webfont.eot');
  src: url('../../fonts/frankruehl/frankruehlclm-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/frankruehl/frankruehlclm-bold-webfont.woff') format('woff'),
  url('../../fonts/frankruehl/frankruehlclm-bold-webfont.ttf') format('truetype'),
  url('../../fonts/frankruehl/frankruehlclm-bold-webfont.svg#frank_ruehl_clmbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'frank_ruehl_clm';
  src: url('../../fonts/frankruehl/frankruehlclm-boldoblique-webfont.eot');
  src: url('../../fonts/frankruehl/frankruehlclm-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/frankruehl/frankruehlclm-boldoblique-webfont.woff') format('woff'),
  url('../../fonts/frankruehl/frankruehlclm-boldoblique-webfont.ttf') format('truetype'),
  url('../../fonts/frankruehl/frankruehlclm-boldoblique-webfont.svg#frank_ruehl_clmboldoblique') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'frank_ruehl_clm';
  src: url('../../fonts/frankruehl/frankruehlclm-medium-webfont.eot');
  src: url('../../fonts/frankruehl/frankruehlclm-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/frankruehl/frankruehlclm-medium-webfont.woff') format('woff'),
  url('../../fonts/frankruehl/frankruehlclm-medium-webfont.ttf') format('truetype'),
  url('../../fonts/frankruehl/frankruehlclm-medium-webfont.svg#frank_ruehl_clmmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frank_ruehl_clm';
  src: url('../../fonts/frankruehl/frankruehlclm-mediumoblique-webfont.eot');
  src: url('../../fonts/frankruehl/frankruehlclm-mediumoblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/frankruehl/frankruehlclm-mediumoblique-webfont.woff') format('woff'),
  url('../../fonts/frankruehl/frankruehlclm-mediumoblique-webfont.ttf') format('truetype'),
  url('../../fonts/frankruehl/frankruehlclm-mediumoblique-webfont.svg#frank_ruehl_clmmediumoblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

$sansCopyFontFamily: 'dorian_clmbook', sans-serif;
$serifFontFamily: 'frank_ruehl_clm', serif;
$sansHeadersFontFamily: 'pfenning', sans-serif;

$sw-base-font-size: 16px; // changing this will effect the entire site font-size

//old
$baseFontSize: 12px;
//* Where the magic happens
//* Define the font for any element
@mixin setFont($family: $sansCopyFontFamily, $weight: false, $size: false){
  font-family: $family;

  @if $weight {
    font-weight: $weight;
  }
  // bold defaults to font-weight 700, but with open sans we want to use 600 instead
  @if $family == $sansCopyFontFamily {
    @if $weight == 'bold' {
      $weight: 600;
    }
  }
  @if $size {
    @include calc-rem-font-size($size);
  }
}

// utility function, don't use this by itself
@mixin calc-rem-font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $sw-base-font-size) * 1rem;
}