/* ==========================================================================
Front page cover
========================================================================== */

.frontPage {
  position: relative;
  padding: 60px 0 60px 0;
  @media (min-width: $largeScreen) {
    min-height: 1100px;
  }
  min-height: 830px;
  background: rgb(40, 70, 102) url('../images/frontpage.jpg') no-repeat center center;
  background-size: cover;
  color: $white;
  width: 100%;
  height: 100%;
}


