/* ==========================================================================
Front page cover
========================================================================== */
#home {
  width: 100%;
  height: 100%;
}

.frontPage {
  position: relative;
  padding: 60px 0 60px 0;
  @media (min-width: $largeScreen) {
    min-height: 1100px;
  }
  min-height: 830px;
  background: rgb(40, 70, 102) url('../images/frontpage.jpg') no-repeat center center;
  background-size: cover;
  color: $white;
  width: 100%;
  height: 100%;
}

.tagline {
  margin: 100px 0 45px 0;
  letter-spacing: .1em;
  @include setFont($family: $sansHeadersFontFamily, $size: 35px);
  @media (min-width: $tabletLandscape) {

    @include setFont($family: $sansHeadersFontFamily, $size: 45px);
  }
  @media (min-width: $mediumDesktop) {
    @include setFont($family: $sansHeadersFontFamily, $size: 50px);
  }
}

header i {
  margin-left: 5px;
}