.brides-bouquet {
    .section-image {
        background: url('../images/gallery/sections/section-bouquet.jpg') no-repeat center center;
        background-size: cover;
    }
}

.arrangements {
    .section-image {
        background: url('../images/gallery/sections/section-arrangement.jpg') no-repeat center center;
        background-size: cover;
    }
}

.head-wreath {
    .section-image {
        background: url('../images/gallery/sections/section-wreath.jpg') no-repeat center center;
        background-size: cover;
    }
}

.workshop {
    .section-image {
        background: url('../images/gallery/sections/section-workshop.jpg') no-repeat center center;
        background-size: cover;
    }
}

.about {
    .section-image {
        background: url('../images/gallery/sections/section-about.jpg') no-repeat center center;
        background-size: cover;
    }
}

.corsage {
    .section-image {
        background: url('../images/gallery/sections/section-corsage.jpg') no-repeat center center;
        background-size: cover;
    }
}

.showcase-01 {
    background: url('../images/gallery/sections/basket-02.jpg') no-repeat center center fixed;
    background-size: cover;
}

.showcase-02 {
    background: url('../images/gallery/sections/lumy-horse.jpg') no-repeat center center fixed;
    background-size: cover;
}