.brides-bouquet {
    .section-image {
        background: url('../images/gallery/sections/section-bouquet.jpg') no-repeat center center;
        background-size: cover;
    }
}

.arrangements {
    .section-image {
        background: url('../images/gallery/sections/section-arrangement.jpg') no-repeat center center;
        background-size: cover;
    }
}

.head-wreath {
    .section-image {
        background: url('../images/gallery/sections/section-wreath.jpg') no-repeat center center;
        background-size: cover;
    }
}

.workshop {
    .section-image {
        background: url('../images/gallery/sections/section-workshop.jpg') no-repeat center center;
        background-size: cover;
    }
}

.showcase {
    background: url('../images/gallery/sections/section-stand01.jpg') no-repeat center center fixed;
    background-size: cover;
}