/**
 * Created by Oleg on 16/12/2015.
 */
.align-middle {
    position: absolute;
    top: 44%;
    margin-right: u(150px);
}

.hero-content {
    background-color: rgba(0,0,0,0.35);
    border-radius: u(25px);
    padding: u(10px);
    padding-top: 0;
    color: $white;
    width: 100%;
    height: 100%;
}

.tagline {
    letter-spacing: .1em;
    min-width: 400px;
    @include setFont($family: $sansHeadersFontFamily, $size: 35px);
    @media (min-width: $tabletLandscape) {
        min-width: 500px;
        @include setFont($family: $sansHeadersFontFamily, $size: 45px);
    }
    @media (min-width: $mediumDesktop) {
        min-width: 600px;
        @include setFont($family: $sansHeadersFontFamily, $size: 50px);
    }
}

.subtitle {
    min-width: 500px;
    font-size: 1.5em;
}

.hero {
    min-height: 100%;
    min-width: 100%;
}
.hero-image {
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: 500px) {
        min-height: 500px;
    }
    @media screen and (min-width: 501px) and (max-width: 820px) {
        min-height: 546px;
    }
    @media screen and (min-width: 821px) and (max-width: 1000px) {
        min-height: 666px;
    }
    @media screen and (min-width: 1001px) {
        min-height: 933px;
    }
}

.image01 {
    @media only screen and (max-width: 500px) {
        background-image: url("../images/gallery/section-hero/frontpage_750.jpg");
        background-position: center;
    }

    @media screen and (min-width: 501px) and (max-width: 820px) {
        background-image: url("../images/gallery/section-hero/frontpage_820.jpg");
        background-position: center;
    }

    @media screen and (min-width: 821px) and (max-width: 1000px) {
        background-image: url("../images/gallery/section-hero/frontpage_1000.jpg");
    }

    @media screen and (min-width: 1001px) {
        background-image: url("../images/gallery/section-hero/frontpage_1400.jpg");
    }
}

.image02 {
    @media only screen and (max-width: 500px) {

        background-image: url("../images/gallery/section-hero/section-stand00_750.jpg");
        background-position: center;
    }

    @media screen and (min-width: 501px) and (max-width: 820px) {
        background-image: url("../images/gallery/section-hero/section-stand00_820.jpg");
        background-position: center;
    }

    @media screen and (min-width: 821px) and (max-width: 1000px) {
        background-image: url("../images/gallery/section-hero/section-stand00_1000.jpg");
    }

    @media screen and (min-width: 1001px) {
        background-image: url("../images/gallery/section-hero/section-stand00_1400.jpg");
    }
}

.image03 {
    @media only screen and (max-width: 500px) {

        background-image: url("../images/gallery/section-hero/section-stand01_750.jpg");
        background-position: center;
    }

    @media screen and (min-width: 501px) and (max-width: 820px) {
        background-image: url("../images/gallery/section-hero/section-stand01_820.jpg");
        background-position: center;
    }

    @media screen and (min-width: 821px) and (max-width: 1000px) {
        background-image: url("../images/gallery/section-hero/section-stand01_1000.jpg");
    }

    @media screen and (min-width: 1001px) {
        background-image: url("../images/gallery/section-hero/section-stand01_1400.jpg");
    }
}

.image04 {
    @media only screen and (max-width: 500px) {
        background-image: url("../images/gallery/section-hero/section-stand02_750.jpg");
        background-position: center;
    }

    @media screen and (min-width: 501px) and (max-width: 820px) {
        background-image: url("../images/gallery/section-hero/section-stand02_820.jpg");
        background-position: center;
    }

    @media screen and (min-width: 821px) and (max-width: 1000px) {
        background-image: url("../images/gallery/section-hero/section-stand02_1000.jpg");
    }

    @media screen and (min-width: 1001px) {
        background-image: url("../images/gallery/section-hero/section-stand02_1400.jpg");
    }
}

.image05 {
    @media only screen and (max-width: 500px) {

        background-image: url("../images/gallery/section-hero/section-stand03_750.jpg");
        background-position: center;
    }

    @media screen and (min-width: 501px) and (max-width: 820px) {
        background-image: url("../images/gallery/section-hero/section-stand03_820.jpg");
        background-position: center;
    }

    @media screen and (min-width: 821px) and (max-width: 1000px) {
        background-image: url("../images/gallery/section-hero/section-stand03_1000.jpg");
    }

    @media screen and (min-width: 1001px) {
        background-image: url("../images/gallery/section-hero/section-stand03_1400.jpg");
    }
}