/* ==========================================================================
Contact us
========================================================================== */
.contactUs {
  padding: 120px 0;
  background-color: $lilac;
    & .contactUs-phone a {
        color: $rose;
    }
    .col-md-12 {
        width: 100%;
    }
}
.contactUs-title {
  margin: 0 0 15px 0;
  color: $rose;
}

.contactUs-phone {
    a {
        color: $ocean-wave;
    }
    color: $ocean-wave;
    padding: u(30px);
    @include setFont($size: 24px, $family: $sansHeadersFontFamily);
    .header-content & {
        margin: 0 auto;
        padding: u(3px);
    }
}

.phone-number {
    letter-spacing: 0.1em;
    @media only screen and (min-width: 500px) {
        letter-spacing: 0.25em;
    }
    @media screen and (max-width: 400px) {
        font-size: 6vw;
    }
}
.phone-caption {
    display: none;
    @media only screen and (min-width: 500px) {
        display: inline;
    }
}
.phone {
    background: url('../images/phone.png') no-repeat 0 100%;
    background-size: u(50px);
    width: u(50px);
    height: u(50px);
    margin: 0 auto;
    .header-content & {
        display: none;
        @media only screen and (min-width: 500px) {
            display: inline-block;
            background-size: u(30px);
            margin-right: u(10px);
            width: u(30px);
            height: u(30px);
        }
    }
}

.contactUs-mail {
    display: flex;
    flex-direction: column;

    .mail-row {
        display: flex;
        margin: 5px;
    }

    & .mail-format, input[type="email"] {
        @include setFont($size: 12px, $family: $sansHeadersFontFamily);
        height: 38px;
        color: hsl(0, 0, 20);
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        outline: none;
        border: 1px solid hsla(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
        &.mail-description {
            height: auto;
        }
    }

    .mail-label {
        width: 20%;
        border: none;
        box-shadow: none;
    }

    .mail-input {
        width: 40%;
    }

    .mail-button {
        width: 200px;
        margin-right: 20%;
        line-height: 1;
    }
}
