/* ==========================================================================
Contact us
========================================================================== */
.contactUs {
  padding: 120px 0;
  background-color: $lilac;
}
.contactUs-title {
  margin: 0 0 15px 0;
  color: $rose;
}

.contactUs-phone {
    color: $ocean-wave;
    padding: u(30px);
    @include setFont($size: 24px, $family: $sansHeadersFontFamily);
}
.phone-number {
    letter-spacing: 0.25em;
}
.phone {
    background: url('../images/phone.png') no-repeat 0 100%;
    background-size: u(50px);
    width: u(50px);
    height: u(50px);
    margin: 0 auto;
}