.brides-bouquet {
    .section-image {
        background-image: url('../images/gallery/sections/section-bouquet.jpg');
    }

    @include section-thumbnails($url-name: 'section-bridal/thumbs/thumb-bouquet', $length: 9);
}

.gifts {
    .section-image {
        background-image: url('../images/gallery/sections/section-gifts.jpg');
    }

    @include section-thumbnails($url-name: 'section-gifts/thumbs/thumb-gifts', $length: 8);
}

.arrangements {
    .section-image {
        background-image: url('../images/gallery/sections/section-arrangement.jpg');
    }

    @include section-thumbnails($url-name: 'section-arrangements/thumbs/thumb-arrangement', $length: 10);
}

.head-wreath {
    .section-image {
        background-image: url('../images/gallery/sections/section-wreath.jpg');
    }

    @include section-thumbnails($url-name: 'section-wreath/thumbs/thumb-wreath', $length: 5);
}

.workshop {
    .section-image {
        background-image: url('../images/gallery/sections/section-workshop.jpg');
    }

    @include section-thumbnails($url-name: 'section-workshop/thumbs/thumb-workshop', $length: 4);
}

.about {
    .section-image {
        background-image: url('../images/gallery/sections/section-about.jpg');
    }

    @include section-thumbnails($url-name: 'section-about/thumbs/thumb-lumy-worker', $length: 3);
}

.corsage {
    .section-image {
        background-image: url('../images/gallery/sections/section-corsage.jpg');
    }
    .section-thumbnail-01 {
        background-image: url('../images/gallery/section-corsage/thumbs/thumb-corsage-orchid.jpg');
    }
    .section-thumbnail-02 {
        background-image: url('../images/gallery/section-corsage/thumbs/thumb-corsage.jpg');
    }
    .section-thumbnail-03 {
         background-image: url('../images/gallery/section-corsage/thumbs/thumb-bracelets.jpg');
    }
    .section-thumbnail-04 {
        background-image: url('../images/gallery/section-corsage/thumbs/thumb-corsage-01.jpg');
    }
}

.stand {
    .section-image {
        background-image: url('../images/gallery/sections/section-stand.jpg');
    }

    @include section-thumbnails($url-name: 'section-stand/thumbs/thumb-stand', $length: 14);
}

/* ==========================================================================
Showcase
========================================================================== */

.showcase-wrap {
    position: relative;
    padding: 100px 0;
    min-height: 600px;
}

.showcase-01 {
    background: url('../images/gallery/sections/wreath_1400.jpg') center center no-repeat fixed;
    background-size: cover;
}

.showcase-02 {
    background: url('../images/gallery/sections/lumy-horse_1400.jpg') center center no-repeat fixed;
    background-size: cover;
}

.showcase-02 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    @media only screen and (max-width: 500px) {
        background-image: url("../images/gallery/sections/lumy-horse_750.jpg");
        background-position: center;
    }

    @media screen and (min-width: 501px) and (max-width: 820px) {
        background-image: url("../images/gallery/sections/lumy-horse_820.jpg");
        background-position: center;
    }

    @media screen and (min-width: 821px) and (max-width: 1000px) {
        background-image: url("../images/gallery/sections/lumy-horse_1000.jpg");
    }

    @media screen and (min-width: 1001px) {
        background-image: url("../images/gallery/sections/lumy-horse_1400.jpg");
    }
}

.showcase-01 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    @media only screen and (max-width: 500px) {
        background-image: url("../images/gallery/sections/wreath_750.jpg");
        background-position: center;
    }

    @media screen and (min-width: 501px) and (max-width: 820px) {
        background-image: url("../images/gallery/sections/wreath_820.jpg");
        background-position: center;
    }

    @media screen and (min-width: 821px) and (max-width: 1000px) {
        background-image: url("../images/gallery/sections/wreath_1000.jpg");
    }

    @media screen and (min-width: 1001px) {
        background-image: url("../images/gallery/sections/wreath_1400.jpg");
    }
}