.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z('sticky-header');
  width: 100%;
  height: u($header-height);
  margin: 0;
  background-color: $rose;
  -webkit-backface-visibility: hidden;
  &:after {
    content: '';
    position: absolute;
    bottom: u(-3px);
    left: 0;
    z-index: 2;
    width: 100%;
    height: u(1px);
    background: rgba(255, 255, 255, .6);
  }
}

@media screen and (min-width: $tabletLandscape) {
  .page-header {
    //padding: 1.25rem 1.25rem 1.25rem 2.8125rem;
  }
}

.header-logo {
  position: relative;
  background: url('../images/lumy-logo.png') no-repeat center;
  background-size: 100%;
  width: u(45px);
  height: u(48px);
  margin-left: auto;
}

.header-content {
  display: flex;
}

.menu-flower {
  background: url('../images/flower-violet.png') no-repeat;
  background-size: 100%;
  width: u(40px);
  height: u(40px);
  margin-top: u(5px);
  margin-left: u(10px);
  transition: transform 300ms ease-in-out;
  cursor: pointer;
  z-index: z('menu-flower');
  &:hover, &:focus {
    transform: rotate(85deg);
  }
  &.js-close {
    background: url('../images/flower-violet-close.png') no-repeat;
    background-size: 100%;
    &:hover, &:focus {
      transform: none;
    }
  }
}

.menu-title {
  @include setFont($size: 18px);
  padding: 14px;
  cursor: pointer;
  color: $ocean-wave;
}