$header-height: 50px;
$section-topPadding-tablet: 25px - ($header-height/2);
$section-topPadding-medium: 40px - ($header-height/2);
$section-topPadding-large: 80px - ($header-height/2);
$section-tablet: 40%;
$section-medium: 35%;